#### 1. Function to return the biggest positive integer that doesnt occur in A(list)

In [0]:
A = [-1,-5,-7,98,99,100]
def max(A):
    for j in range(1, len(A)):
        for i in range(A[-1], 0, -1):
            if (i == A[-j]):
                A.pop(A.index(i))
            else:
                return(i)
    return(1)        
print(max(A))

97

####    2. Program that reverse the alphabets but puts other character in their original index

In [0]:
a = 'abcd5ef7'
b = []
d = {}
for i in a:
    if (i>='a' and i<= 'z') or (i>='A' and i<='Z'):
        b.insert(0, i)
    else:
        d[a.index(i)] = i
for k, v in d.items():
    b.insert(k, v)
print(a)
print(''.join(b))

abcd5ef7
fedc5ba7

####   3. Escape characters

In [0]:
print("\' \'' \" \"()[]{} \"\"\"")

' '' " "()[]{} """

####   4. Matrix addition in 2D array

In [0]:
A = [[1,1], [1,1]]
B = [[1,1], [1,8]]
C = [[0,0], [0,0]]

for r in range(len(A)):
    for c in range(len(A[0])):
        C[r][c] = (A[r][c] + B[r][c])
        
print(C)

[[2, 2], [2, 9]]

####  5.Sum of digits in a number (recursive)

In [0]:
def rsum(a):
    if a == 0:
        return(0)
    return (a % 10 + rsum(int(a / 10)))
a = 12345       
print(rsum(1111))

4

####  6.Node for Linked List

In [0]:
class Node:
    def __init__(self, value):
        self.value = value
        self.next = None
node1 = Node(10)
node2 = Node(22)
node3 = Node(30)

node1.next = (node2)
node2.next = node3

print(node1.value, node1.next.value)

10 22

####  7. Stack

In [0]:
class Stack:
    def __init__(self):
        self.stack = []
        
    def pop(self):
        if len(self.stack) == 0:
            return None
        return self.stack.pop()
    
    def push(self, val):
        return self.stack.append(val)
    
    def peak(self):
        if len(self.stack) == 0:
            return None
        return self.stack[-1]
        
stack = Stack()
stack.push(1)
stack.push("A")
stack.push("B")

print(stack.peak())
print(stack.pop())
print(stack.pop())
print(stack.pop())
print(stack.pop())
print(stack.peak())

B
B
A
1
None
None

####  8. Queue

In [0]:
class Queue:
    def __init__(self):
        self.queue = []
    
    def enQ(self, value):
        self.queue.insert(0, value)
    
    def deQ(self):
        if (len(self.queue) > 0):
            return self.queue.pop()
        return None
    

qq = Queue()
qq.enQ(1)
qq.enQ(13)
qq.enQ(12)

print(qq.deQ())
print(qq.deQ())

1
13

####  9. Nepal Flag pattern generator

In [0]:
a = 'kathmandu'
b = ''
c = ''
for i in range(len(a)):
    b+=a[i]
    print(b)
for i in range(len(a)):
    c+=a[i]
    print(c)

for i in a:
    print(i,)

k
ka
kat
kath
kathm
kathma
kathman
kathmand
kathmandu
k
ka
kat
kath
kathm
kathma
kathman
kathmand
kathmandu
k
a
t
h
m
a
n
d
u

#### 10. Program to print the middle letters of words in a string

In [0]:
s1 = "a boy's name is blah"
l = s1.split(" ")
m = ''
for i in l:
    li = len(i)
    if li == 1:
        m+=i
    elif li%2 == 1:
        m+=i[int(li/2)]
    else:
        m+=i[int((li/2)-1)]
        m+=i[int(li/2)]
print(m)

ayamisla

####  11. Program to print the most repeated letter in a string

In [0]:
S = 'dfsdfadsfsadfsdf'
d = {}
for i in S:
    if i in d:
        d[i]+=1
    else:
        d[i] = 1
print(d)
h=S[1]
for k,v in d.items():
    if v>d[h]: 
        h=k
print(h)

{'d': 5, 'f': 5, 's': 4, 'a': 2}
f

####  12. Modulus

In [0]:
print(1%2)

1

####  13. Turtle

In [0]:
import turtle

def fun(y):
	turtle.reset()
	turtle.speed(0)
	for i in range(200):
		turtle.fd(i)
		turtle.rt(y)
fun(49)

## Eydean

### 1.

You have the following string: 'hel8lo09'
Separate the string into alphabets and integers.
The result should be:'hello 809'

In [0]:
a = 'hel8lo09'
s = n = ''
for i in a:
    if (i>='a' and i<= 'z') or (i>='A' and i<='Z'):
        n+=i
    else:
        s+=i
print(n,s)

hello 809

### 2.

These are countries in Asia: Nepal, India, China, and Cambodia. These are countries in Africa: Gabon, Nigeria, Senegal, and South Africa. 
i. Choose a data structure to separately store these countries. Explain your reasoning.
ii. Due to a data entry mistake 'Bhutan' was added to Africa. Write a program to find Bhutan from Africa, remove it, and add it to Asia. 
iii. It was later discovered that there are further discrepencies between the groups. Write a program to find and print any other overlapping countries between the two groups.

In [0]:
#1 Used two different arrays as Data Structure to store countries with respect to their continent 
Asia = ['Nepal', 'India', 'China', 'Cambodia']
Africa = ['Gabon', 'Nigeria', 'Senegal', 'South Africa']


#2 
Africa.append('Bhutan')
Africa.remove('Bhutan')
Asia.append('Bhutan')


# program to print any other overlapping countries between the two groups.
Africa.append('Bhutan')
for i in Asia:
    for j in Africa:
        if i == j:
            print(i)

Bhutan

### 3.

Find the first non repeating character in a given string.
Return _ if all characters repeat at least once. 
For e.g. 
Input: abcbade 
Output: c
Input: abcbcadede 
Output: _

In [0]:
def fun(a):
    d = {}
    for i in range(len(a)):
        if a[i] in d:
            d[a[i]] += 1 
        else:
            d[a[i]] = 1
    for k,v in d.items():
        if v == 1:
            return(k)
    return("_")

print(fun('asdasdasdd'))

_

### 4.

You have a 8x8 chess board. Write a program to map the board from chess convention to coordinates. For example, H6 should be printed as (7,6).

Note: The x co-ordinate starts from 0, y co-ordinate starts from 1.

In [0]:
s = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
d = {}
for x in range(8): 
    for y in range(1,9): d[s[x]+str(y)] = [x,y]

for k in d.items(): print(k[0],'=',k[1])

A1 = [0, 1]
A2 = [0, 2]
A3 = [0, 3]
A4 = [0, 4]
A5 = [0, 5]
A6 = [0, 6]
A7 = [0, 7]
A8 = [0, 8]
B1 = [1, 1]
B2 = [1, 2]
B3 = [1, 3]
B4 = [1, 4]
B5 = [1, 5]
B6 = [1, 6]
B7 = [1, 7]
B8 = [1, 8]
C1 = [2, 1]
C2 = [2, 2]
C3 = [2, 3]
C4 = [2, 4]
C5 = [2, 5]
C6 = [2, 6]
C7 = [2, 7]
C8 = [2, 8]
D1 = [3, 1]
D2 = [3, 2]
D3 = [3, 3]
D4 = [3, 4]
D5 = [3, 5]
D6 = [3, 6]
D7 = [3, 7]
D8 = [3, 8]
E1 = [4, 1]
E2 = [4, 2]
E3 = [4, 3]
E4 = [4, 4]
E5 = [4, 5]
E6 = [4, 6]
E7 = [4, 7]
E8 = [4, 8]
F1 = [5, 1]
F2 = [5, 2]
F3 = [5, 3]
F4 = [5, 4]
F5 = [5, 5]
F6 = [5, 6]
F7 = [5, 7]
F8 = [5, 8]
G1 = [6, 1]
G2 = [6, 2]
G3 = [6, 3]
G4 = [6, 4]
G5 = [6, 5]
G6 = [6, 6]
G7 = [6, 7]
G8 = [6, 8]
H1 = [7, 1]
H2 = [7, 2]
H3 = [7, 3]
H4 = [7, 4]
H5 = [7, 5]
H6 = [7, 6]
H7 = [7, 7]
H8 = [7, 8]

### 5.

You are programming a token dispenser for Kathmandu Metro Railway. 
There are three stations on the railway line and the token costs are as follows:

Route 1, Kalanki - Tinkune : NRs. 40
Route 2, Kalanki - Ratnapark: NRs. 30
Route 3: Tinkune - Ratnapark: NRs. 35

The token dispensor accepts the following notes:
5,10,20,50,100

Write a program for a dispensor located in Ratnapark that takes as input the route and aforementioned notes, and returns the token and appropriate change. 
Examples:
passenger selects Route 3, and inserts NRs.50, the output is as follows:

Token dispensed.
Change: NRs.15 
Notes: NRs.10, NRs.5 
passenger selects Route 2, and inserts NRs.20, the output is asfollows:

Token not dispensed.
Remaining: NRs.10 
passenger selects Route 1, and inserts NRs.100, the output is as follows:

Route unavailable.

In [0]:
def change(a,b):
    c = a-b
    d = [100,50,20,10,5]
    print('Token dispensed.\n\nChange \t  =  Rs. ' ,(a-b),'\n')
    print('notes:\t\tamount')
    for k in d:
        x = int(c/k)
        if (x >= 1):
            c=c-k*x
            print("NRs",k,  "  \t= "  , x)

def passenger(route, amount):
    if (route == 2 and amount >= 30):
        change(amount,30)
    elif (route == 3 and amount >= 35):
        change(amount,35)
    else:
        print('Route unavailable or insufficient amount.')
        print('Try again')

passenger(3,9325)

Token dispensed.

Change 	  =  Rs.  9290

notes:		amount
NRs 100   	=  92
NRs 50   	=  1
NRs 20   	=  2

Other codes

In [0]:
A = [-1,-5,-7,98,99,100]
print({i for i in A if i>0})

{98, 99, 100}

In [0]:
a = "AAAAAA."
l = ["A", "B", "C", "D"]

b = ""

def seed_check(a):
    flag = True
    for i in a:
        if i not in l:
            flag = False
    if a == "":
        flag = False
    print(flag)

seed_check(a)
seed_check(b)

False
False

In [0]:
import datetime
print(datetime.datetime.strptime(str(datetime.date.today()), '%Y-%m-%d').strftime('%A'))

Tuesday

In [0]:
import string
import datetime
x = list(string.ascii_lowercase) + list(string.ascii_uppercase)

for i in x:
  j = datetime.datetime.strptime(str(datetime.date.today()), '%Y-%m-%d').strftime('%'+i)
  if j != '%'+i:
    print('%'+i+"\t"+j)

%a	Tue
%b	Jun
%c	Tue Jun  9 00:00:00 2020
%d	09
%e	 9
%f	000000
%g	20
%h	Jun
%j	161
%k	 0
%l	12
%m	06
%n

%p	AM
%r	12:00:00 AM
%s	1591660800
%t
%u	2
%w	2
%x	06/09/20
%y	20
%z
%A	Tuesday
%B	June
%C	20
%D	06/09/20
%F	2020-06-09
%G	2020
%H	00
%I	12
%M	00
%P	am
%R	00:00
%S	00
%T	00:00:00
%U	23
%V	24
%W	23
%X	00:00:00
%Y	2020
%Z

In [0]:
import hashlib
s = 'she sells sea shells by the sea shore'
print(hashlib.md5(s.encode('utf-8')).hexdigest(), 16)
print(int(hashlib.md5(s.encode('utf-8')).hexdigest(), 16))
# print(int(hashlib.md5(s.encode('utf-8')).hexdigest(), 16) % 10**8)
print("\n")
print((hashlib.sha1(b'she sells sea shells by the sea shore').hexdigest()))
print(int(hashlib.sha1(b'she sells sea shells by the sea shore').hexdigest(), 16))
# print(int(hashlib.sha1(b'she sells sea shells by the sea shore').hexdigest(), 16) % (10 ** 8))

4802177d1a0542a502495dfe5655a8eb 16
95715276697225180380311572012321843435


adf112cb818ce5a284d049ab580f622363de5cce
993031520216039365068706134034319674406158097614

In [0]:
int(hashlib.sha1(b'she sells sea shells by the sea shore').hexdigest(), 16) % 100000000

58097614

In [0]:
hash_object = hashlib.sha1(b'she sells sea shells by the sea shore')
print(hash_object.hexdigest())

adf112cb818ce5a284d049ab580f622363de5cce

In [0]:
from datetime import datetime
import time

ts = int(time.time())
# ts = 1545730073
dt_object = datetime.fromtimestamp(ts)
print("dt_object =", dt_object)
print("type(dt_object) =", type(dt_object))

dt_object = 2020-06-09 04:24:12
type(dt_object) = <class 'datetime.datetime'>

In [0]:
import time

ts = int(time.time())
print(ts)

1591676660

In [0]:
d = {"a":1,"b":2}
print(d["b"])

2

In [0]:
for i in range(10):
  print(min(i,5))

0
1
2
3
4
5
5
5
5
5

In [0]:
import random
random.randint(0,5)

1

In [0]:
import time
from functools import wraps

def hello_decorator(t): 
  def ss(func):
    @wraps(func)
    def inner1(*args):
      print(f'FUNC {func}')
      print(inner1)
      time1 = time.time()
      func(*args) 
      time_diff = time.time() - time1
      if t: print(time_diff)
    return inner1 
  return ss

@hello_decorator(False)
def function_to_be_used(n): 
  # print(function_to_be_used)
  for i in range(n):
    pass 

# function_to_be_used = hello_decorator(function_to_be_used) 
# @hello_decorator
function_to_be_used(1110)

FUNC <function function_to_be_used at 0x7fe8eef98ea0>
<function function_to_be_used at 0x7fe8eef98f28>

In [0]:
str = "task 123"
[int(s) for s in str.split() if s.isdigit()]

[123]

In [0]:
d = {"a":1,"b":2,"c":3}
print(d)
print(d.pop("a"))
print(d)

{'a': 1, 'b': 2, 'c': 3}
1
{'b': 2, 'c': 3}

In [2]:
def t(x):
    if x[8:10] == "AM" and x[0:2] == "12":
        return("00"+x[2:8])
    elif x[8:10] == "PM" and x[0:2] == "12":
        return(x[0:8])
    elif x[8:10] == "PM":
        return(str(int(x[0:2])+12)+x[2:8])
    return(x[0:8])
    
t("12:00:00PM")

'12:00:00'

In [1]:
topic = ['10101', '11100', '11010', '00101']

from itertools import permutations as p
for i in range(len(topic)):
    print(list(p(topic,i)))
    
print(len(list(p(topic,2))))

[()]
[('10101',), ('11100',), ('11010',), ('00101',)]
[('10101', '11100'), ('10101', '11010'), ('10101', '00101'), ('11100', '10101'), ('11100', '11010'), ('11100', '00101'), ('11010', '10101'), ('11010', '11100'), ('11010', '00101'), ('00101', '10101'), ('00101', '11100'), ('00101', '11010')]
[('10101', '11100', '11010'), ('10101', '11100', '00101'), ('10101', '11010', '11100'), ('10101', '11010', '00101'), ('10101', '00101', '11100'), ('10101', '00101', '11010'), ('11100', '10101', '11010'), ('11100', '10101', '00101'), ('11100', '11010', '10101'), ('11100', '11010', '00101'), ('11100', '00101', '10101'), ('11100', '00101', '11010'), ('11010', '10101', '11100'), ('11010', '10101', '00101'), ('11010', '11100', '10101'), ('11010', '11100', '00101'), ('11010', '00101', '10101'), ('11010', '00101', '11100'), ('00101', '10101', '11100'), ('00101', '10101', '11010'), ('00101', '11100', '10101'), ('00101', '11100', '11010'), ('00101', '11010', '10101'), ('00101', '11010', '11100')]
12

In [3]:
i = [1,2,3,4,5]

from itertools import combinations as com

com = com(i,4)
h = [sum(i) for i in list(com)]
print(max(h))
print(min(h))

14
10

In [4]:
x  = [73, 67, 38, 33]
for i in x:
    if i > 37:
        if ((i//5)+1)*5 - i < 3:
            print(((i//5)+1)*5)
        else:
            print(i)
    else:
        print(i)

75
67
40
33

In [5]:
from itertools import combinations as p
x = list(p(topic,2))
l = []
t = 0
for j in x:
    a = j[0]
    b = j[1]
    c = 0
    
    for i in range(len(a)):
        if a[i] == "1" or b[i]== "1":
            c = c + 1 
    t = t+1
    l.append(c)
# print(l)

tk = 0
for i in l:
    if i == max(l):
        tk= tk +1
print(max(l))
print(tk)

5
2

In [7]:
for i in range(1,10):
    x = 10-i
    s = ""
    for j in range(x):
        s = s + " "
    for k in range(i):
        s = s + "*"
    print(s)



for i in range(1,10):
    x = 10-i
    s = ""
    for j in range(x):
        s = s + "*"
    for k in range(i):
        s = s + " "
    print(s)



s = ""
for i in range(10):
    s = s+"*"
    print(s)



for i in range(1,10):
    x = 10-i
    s = ""
    for k in range(i):
        s = s + " "

    for j in range(x):
        s = s + "*"
    print(s)

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
*********
********
*******
******
*****
****
***
**
*
*
**
***
****
*****
******
*******
********
*********
**********
 *********
  ********
   *******
    ******
     *****
      ****
       ***
        **
         *

In [8]:
a = [[1,2,-3],
     [4,5,6],
     [-7,8,9]]

print([a[-(i+1)][i] for i in range(len(a))])
print([a[i][i] for i in range(len(a))])

[-7, 5, -3]
[1, 5, 9]